body {
  color: rgb(9, 9, 9);
  background-color: rgb(240, 216, 185);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  color: rgb(243, 117, 117);
  font-weight: 500px;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}

h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}

header {
  margin-bottom: 30px;
}

form {
  padding: 30px;
  background-color: rgb(231, 187, 129);
  box-shadow: 0px 60px 60px 0px rgba(65, 50, 100, 0.1);
  border-radius: 15px;
  display: flex;
  margin-bottom: 40px;
}

.instructions {
  padding: 20px;
  width: 80%;
  border-radius: 15px;
  border: 0px;
  font-size: 20px;
}

.submit-button {
  width: 20%;
  margin-left: 10px;
  background-color: rgb(243, 117, 117);
  color: white;
  font-size: 20px;
  border-radius: 15px;
  cursor: pointer;
  border: 0px;
}

.recipe {
  background-color: rgb(231, 187, 129);
  width: 80%;
  border-radius: 15px;
  font-size: 15px;
  padding: 80px;
  margin: auto;
  border-left: 5px solid rgb(243, 117, 117);
  border-right: 5px solid rgb(243, 117, 117);
  box-sizing: border-box;
  box-shadow:
    0px,
    60px,
    60px,
    0px rgb(65, 50, 100, 0.1);
}

footer {
  text-align: center;
  margin-top: 30px;
  font-size: 15px;
}
